{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Jika", "Toshina", "Tsuki", "Tsukinium", "Tokiji", "Fuchi", "Denki-Denka", "Motaada", "Taehoe", "Kanghen", "Baemda", "Jentaek", "Jona", "Jonata", "Hyakusen", "Isengoku", "Jyucho", "Yury" ]
    ]
  ]
}
