{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Aiko", "Allekote", "Alligro", "Antellis", "Alektra", "San-Ben-Pon", "Isengoku", "Tenso", "Metrezza", "Hyphenia", "Kokore", "Kokoku", "Chrona", "Pellinore", "Sakebi", "Koewo", "Sokoni", "Melotoja", "Kiko", "Kikonovam", "Tengoku", "Kaneria", "Oikenna", "Jian-Di", "Selur-te-Pelli", "Tashiwa", "Talwhan", "Keidu", "Asclepium", "Hill-Hsi" ] 
    ]
  ]
}
