{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Adran", "Joba", "Calras", "Heptani", "Sento", "Telko", "Yelta-Par", "Kuga", "Nawak", "Isumi", "Tatak", "Protypius", "Zwedrik", "Kasakaso", "Telkin", "Aetos", "Chokoi", "Denkobeta", "Enfudetsu", "Mills-Danford", "Jippa-fas", "Keltrik", "Kellis" ]
    ]
  ]
}
