{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Kokoku ", "Hyphenic ", "Phyko ", "Gunghwa ", "Adeva ", "Veskus ", "Synaet ", "Hyanghen ", "Pylite ", "Sendaran " ],
      [ { "mode" : "alts" }, "I", "Ro", "Ha", "Ni", "Ho", "He", "To", "Chi", "Ri", "Nu", "Ru", "Wo", "Wa", "Ka", "Yo", "Ta", "Re", "So", "Tsu", "Ne", "Na", "Ra", "Mu", "Senda", "Mun", "Oku", "Tsuki", "Tir", "Syna", "Kytho", "Iris", "Du", "Phylo", "Ramet", "Epi", "Egi", "Bi", "Anato", "Bruti", "Prima-", "Tir ", "Te", "Synae", "Siri", "Hime", "Cardio", "Briga" ],
      [ { "mode" : "alts" }, "yakkoya", "kure", "daran", "zuki", "talist", "netic", "nium", "furcato", "sthete", "malist", "phenic", "dor", "ectomy", "-514", "-682", "-841", "-777", "grapher", "nando", "tonic scale", "nochrome", "ophone"   ]
    ]
  ]
}
